@{
    ViewBag.Title = "Home";
}


<input type="text" class="form-control" ng-model="helloAngular" />

<div ng-controller="MainController" class="row">

    <br />
    <br />

    <div>
        {{error}}
    </div>

    <div>

        {{countdown}}
        <form name="searchUser" ng-submit="search(username)" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-md-2">
                    <input type="search" class="form-control" required placeholder="Username to find" ng-model="username" />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </form>

        <div ng-include="'Home/UserDetails'" ng-show="user"></div>

    </div>

</div>


