
@{
    ViewBag.Title = "Home";
}


<input type="text" class="form-control" ng-model="helloAngular"/>

<div ng-controller="MainController" class="row">

    <br/>
    <br/>

    <div>
        {{error}}
    </div>

    <div>
        
        <form name="searchUser" ng-submit="search(username)">
            <input type="search" required placeholder="Username to find" ng-model="username" />
            <input type="submit" value="Search" />
        </form>


        <div class="row">

            <div class="col-md-12">
                <h2>{{user.name}}</h2>
            </div>
            
        </div>
        <div class="row">

            <div class="col-md-12">
                <img width="100" hight="100" ng-src="{{user.avatar_url}}" title="{{user.name}}"/>
            </div>

        </div>

        <table class="table">

            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Starts
                </th>
                <th>
                    Language
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos">
                    <td>
                        {{repo.name}}
                    </td>
                    <td>
                        {{repo.stargazers_count}}
                    </td>
                    <td>
                        {{repo.language}}
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

</div>


